page-home {
    .imagenHotel
    {
        width: 425px; 
        height:280px;
    }

    .nombreHotel
    {
        font-size: 21px;
        color: royalblue;
        font-weight: bold;
        position: absolute;
    }
}
