component-listadoHoteles {
    .imagenHotel
    {
        width: 425px; 
        height:280px;
    }

    #nombreHotel
    {
        font-size: 21px;
        color: #1E89CA;
        font-weight: bold;
    }

    #iconoEstrella{
        width: 20px; 
        height:20px;
        margin-top: 7%;
    }

    #iconoAmenities{
        width: 20px; 
        height:20px;
    }

   #labelARS{
    color: #DF7401;font-size: 25px; margin-bottom: 1%;
   }

   #precio{
    font-weight: bold;color: #DF7401;font-size: 40px
   }

   .bottonVerHotel{
    background-color:darkblue;height: 55px;font-size: 18px; margin-top: 6%;
   }
   .seccion1{
    max-width:32%;
   }
   .seccion2{
    max-width:41%; border-right: 1px dashed darkgrey;
   }
   .seccion3{
    max-width: 23%; margin-top: 4%; text-align: center; margin-left: 3%;
   }

   #iconosDisponibles{
    max-width:8%;
   }

   #lblDescripcion{
    font-size: 17px;
   }
   

   @media screen and (max-width: 1000px) {
    .contentsMovil{
        display:contents;
    }

    .imagenHotel{
        width:100%;
    }

    #nombreHotel{
        position: initial;
    }

    #contedorInfoHotel1{
        margin-top: 3%;
        border-bottom: 1px dashed darkgrey;
        width: 100%;
    }

    #contedorInfoHotel2{
        width: 100%;
        margin-top: 3%;
    }

    #lblDescripcion{
        font-size: 15px;
    }
   }
   
}
