<ion-card>
    <ion-card-content>
        <label id="labelTitulo">Filtros</label>
</ion-card-content>
  </ion-card>

  <ion-card>
      <ion-card-content>
        <ion-row>
          <ion-col style="max-width: 25px;">
              <img id="iconoLupa" src="assets/icon/filters/search.svg" >
          </ion-col>
          <ion-col>
              <label style="color:#1E89CA;font-weight: bold;">Nombre de hotel</label>
          </ion-col>
          <ion-col style="max-width: 20px;">
              <ion-icon style="color:#1E89CA;" ios="ios-arrow-dropup" md="md-arrow-dropup"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
              <ion-item>
                  <ion-input placeholder="Ingrese el nombre del hotel"></ion-input>
                </ion-item>
          </ion-col>
          <ion-col style="max-width: 100px;">
              <button style="background-color:darkblue;" ion-button>Aceptar</button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-content>
          <ion-row>
            <ion-col style="max-width: 25px;">
                    <img id="iconoLupa" src="assets/icon/filters/star.svg" >
            </ion-col>
            <ion-col>
                <label style="color:#1E89CA;font-weight: bold;">Estrellas</label>
            </ion-col>
            <ion-col style="max-width: 20px;">
                  <ion-icon style="color:#1E89CA;" ios="ios-arrow-dropup" md="md-arrow-dropup"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row style="margin-top: 4%;">
            <ion-col style="max-width: 25px;">
                <ion-checkbox></ion-checkbox>
            </ion-col>
            <ion-col >
                <label style="color: darkslategray;font-weight: bold;">Todas las estrellas</label>
            </ion-col>
          </ion-row>
          <ion-row >
              <ion-col style="max-width: 25px;">
                  <ion-checkbox></ion-checkbox>
                  <ion-checkbox></ion-checkbox>
                  <ion-checkbox></ion-checkbox>
                  <ion-checkbox></ion-checkbox>
                  <ion-checkbox></ion-checkbox>
              </ion-col>
              <ion-col >
                  <img id="iconoLupa" src="assets/icon/filters/star.svg" >
                  <img id="iconoLupa" src="assets/icon/filters/star.svg" >
                  <img id="iconoLupa" src="assets/icon/filters/star.svg" >
                  <img id="iconoLupa" src="assets/icon/filters/star.svg" >
                  <img id="iconoLupa" src="assets/icon/filters/star.svg" >
              </ion-col>
              <ion-col>
                  <img id="iconoLupa" src="assets/icon/filters/star.svg" >
                  <img id="iconoLupa" src="assets/icon/filters/star.svg" >
                  <img id="iconoLupa" src="assets/icon/filters/star.svg" >
                  <img id="iconoLupa" src="assets/icon/filters/star.svg" >
              </ion-col>
              <ion-col>
                  <img id="iconoLupa" src="assets/icon/filters/star.svg" >
                  <img id="iconoLupa" src="assets/icon/filters/star.svg" >
                  <img id="iconoLupa" src="assets/icon/filters/star.svg" >
              </ion-col>
              <ion-col>
                  <img id="iconoLupa" src="assets/icon/filters/star.svg" >
                  <img id="iconoLupa" src="assets/icon/filters/star.svg" >
              </ion-col>
              <ion-col>
                  <img id="iconoLupa" src="assets/icon/filters/star.svg" >
              </ion-col>
            </ion-row>
        </ion-card-content>
      </ion-card>