component-filtroHoteles {
   #labelTitulo{
    font-weight: bold;
    color: darkslategray;
   }

   #iconoLupa{
        width: 20px;
        height: 20px;
   }

   #labelHotel{
    color:#1E89CA;font-weight: bold;
   }

   #colInputNombreHotel{
    max-width: 50%;
   }

   #colBottonNombreHotel{
    max-width: 1%;
}

   #labelEstrellas{
    color:#1E89CA;font-weight: bold;
   }

   #labelTodasEstrellas{
    color: darkslategray;font-weight: bold;
   }

   .iconoFlechaOcultar{
    color:#1E89CA; cursor: pointer;
   }
   @media screen and (max-width: 1000px) {
    #colInputNombreHotel{
        max-width: 60%;
       }

    #colBottonNombreHotel{
        max-width: 20%;
    }

   }

   
}
