<ion-card>
    <ion-card>
        <ion-card-content>
            <label id="labelTitulo">Filtros</label>
        </ion-card-content>
    </ion-card>

  <ion-card>
      <ion-card-content>
        <ion-row>
          <ion-col style="max-width: 25px;">
              <img id="iconoLupa" src="assets/icon/filters/search.svg" >
          </ion-col>
          <ion-col>
              <label style="color:#1E89CA;font-weight: bold;">Nombre de hotel</label>
          </ion-col>
          <ion-col style="max-width: 20px;">
                <ion-icon *ngIf="!var_mostrarFiltroNombre" style="color:#1E89CA; cursor: pointer;" ios="ios-arrow-dropdown" md="md-arrow-dropdown" (click)="mostrarFiltroNombre()"></ion-icon>
                <ion-icon *ngIf="var_mostrarFiltroNombre" style="color:#1E89CA; cursor: pointer;" ios="ios-arrow-dropup" md="md-arrow-dropup" (click)="mostrarFiltroNombre()"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="var_mostrarFiltroNombre">
          <ion-col style="max-width: 50%;">
              <ion-item>
                  <ion-input [(ngModel)]="nombreHotel" placeholder="Ingrese el nombre del hotel"></ion-input>
                </ion-item>
          </ion-col>
          <ion-col>
              <button style="background-color:darkblue" (click)="emitirFiltros()" ion-button>Aceptar</button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-content>
          <ion-row>
            <ion-col style="max-width: 30px;">
                    <img id="iconoLupa" src="assets/icon/filters/star.svg" >
            </ion-col>
            <ion-col>
                <label style="color:#1E89CA;font-weight: bold;">Estrellas</label>
            </ion-col>
            <ion-col style="max-width: 20px;">
                  <ion-icon *ngIf="!var_mostrarFiltroEstrella" style="color:#1E89CA;cursor: pointer;" ios="ios-arrow-dropdown" md="md-arrow-dropdown" (click)="mostrarFiltroEstrellas()"></ion-icon>
                  <ion-icon *ngIf="var_mostrarFiltroEstrella" style="color:#1E89CA;cursor: pointer;" ios="ios-arrow-dropup" md="md-arrow-dropup" (click)="mostrarFiltroEstrellas()"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="var_mostrarFiltroEstrella" style="margin-top: 4%;">
            <ion-col style="max-width: 25px;">
                <ion-checkbox></ion-checkbox>
            </ion-col>
            <ion-col >
                <label style="color: darkslategray;font-weight: bold;">Todas las estrellas</label>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="var_mostrarFiltroEstrella">
                <ion-col style="max-width: 25px;">
                    <ion-checkbox></ion-checkbox>
                 </ion-col>
                 <ion-col style="max-width: 30px;">
                      <img id="iconoLupa" src="assets/icon/filters/star.svg" >
                  </ion-col>
                  <ion-col style="max-width: 30px;">
                          <img id="iconoLupa" src="assets/icon/filters/star.svg" >
                  </ion-col>
                  <ion-col style="max-width: 30px;">
                        <img id="iconoLupa" src="assets/icon/filters/star.svg" >
                </ion-col>
                <ion-col style="max-width: 30px;">
                        <img id="iconoLupa" src="assets/icon/filters/star.svg" >
                </ion-col>
                  <ion-col>
                        <img id="iconoLupa" src="assets/icon/filters/star.svg" >
                </ion-col>
              </ion-row>
              <ion-row *ngIf="var_mostrarFiltroEstrella">
                    <ion-col style="max-width: 25px;">
                        <ion-checkbox></ion-checkbox>
                     </ion-col>
                     <ion-col style="max-width: 30px;">
                          <img id="iconoLupa" src="assets/icon/filters/star.svg" >
                      </ion-col>
                      <ion-col style="max-width: 30px;">
                              <img id="iconoLupa" src="assets/icon/filters/star.svg" >
                      </ion-col>
                      <ion-col style="max-width: 30px;">
                            <img id="iconoLupa" src="assets/icon/filters/star.svg" >
                    </ion-col>
                      <ion-col>
                            <img id="iconoLupa" src="assets/icon/filters/star.svg" >
                    </ion-col>
                  </ion-row>
             
            <ion-row *ngIf="var_mostrarFiltroEstrella">
                    <ion-col style="max-width: 25px;">
                        <ion-checkbox></ion-checkbox>
                     </ion-col>
                     <ion-col style="max-width: 30px;">
                          <img id="iconoLupa" src="assets/icon/filters/star.svg" >
                      </ion-col>
                      <ion-col style="max-width: 30px;">
                              <img id="iconoLupa" src="assets/icon/filters/star.svg" >
                      </ion-col>
                      <ion-col>
                            <img id="iconoLupa" src="assets/icon/filters/star.svg" >
                    </ion-col>
            </ion-row>
            <ion-row *ngIf="var_mostrarFiltroEstrella">
                    <ion-col style="max-width: 25px;">
                        <ion-checkbox></ion-checkbox>
                     </ion-col>
                     <ion-col style="max-width: 30px;">
                          <img id="iconoLupa" src="assets/icon/filters/star.svg" >
                      </ion-col>
                      <ion-col>
                              <img id="iconoLupa" src="assets/icon/filters/star.svg" >
                      </ion-col>
                  </ion-row>
                  <ion-row *ngIf="var_mostrarFiltroEstrella">
                        <ion-col style="max-width: 25px;">
                            <ion-checkbox></ion-checkbox>
                          </ion-col>
                      <ion-col>
                            <img id="iconoLupa" src="assets/icon/filters/star.svg" >
                      </ion-col>
                      </ion-row> 
                     
        </ion-card-content>
      </ion-card>
</ion-card>