<ion-card>
    <ion-card>
        <ion-card-content>
            <label id="labelTitulo">Filtros</label>
        </ion-card-content>
    </ion-card>

  <ion-card>
      <ion-card-content>
        <ion-row>
          <ion-col style="max-width: 25px;">
              <img id="iconoLupa" src="assets/icon/filters/search.svg" >
          </ion-col>
          <ion-col>
              <label id="labelHotel">Nombre de hotel</label>
          </ion-col>
          <ion-col style="max-width: 20px;">
                <ion-icon *ngIf="!var_mostrarFiltroNombre" class="iconoFlechaOcultar" ios="ios-arrow-dropdown" md="md-arrow-dropdown" (click)="mostrarFiltroNombre()"></ion-icon>
                <ion-icon *ngIf="var_mostrarFiltroNombre" class="iconoFlechaOcultar" ios="ios-arrow-dropup" md="md-arrow-dropup" (click)="mostrarFiltroNombre()"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="var_mostrarFiltroNombre">
          <ion-col id="colInputNombreHotel">
              <ion-item>
                  <ion-input [(ngModel)]="nombreHotel" placeholder="Ingrese el nombre del hotel"></ion-input>
                </ion-item>
          </ion-col>
          <ion-col id="colBottonNombreHotel">
              <button style="background-color:darkblue" (click)="emitirFiltros()" ion-button>Aceptar</button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-content>
          <ion-row>
            <ion-col style="max-width: 30px;">
                    <img id="iconoLupa" src="assets/icon/filters/star.svg" >
            </ion-col>
            <ion-col>
                <label id="labelEstrellas">Estrellas</label>
            </ion-col>
            <ion-col style="max-width: 20px;">
                  <ion-icon *ngIf="!var_mostrarFiltroEstrella" class="iconoFlechaOcultar" ios="ios-arrow-dropdown" md="md-arrow-dropdown" (click)="mostrarFiltroEstrellas()"></ion-icon>
                  <ion-icon *ngIf="var_mostrarFiltroEstrella" class="iconoFlechaOcultar" ios="ios-arrow-dropup" md="md-arrow-dropup" (click)="mostrarFiltroEstrellas()"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="var_mostrarFiltroEstrella" style="margin-top: 4%;">
            <ion-col style="max-width: 25px;">
                <ion-checkbox checked="True" (ionChange)="validarFiltroEstrellas(-1)"></ion-checkbox>
            </ion-col>
            <ion-col >
                <label id="labelTodasEstrellas">Todas las estrellas</label>
            </ion-col>
          </ion-row>
          <div *ngIf="var_mostrarFiltroEstrella">
            <ion-row *ngFor="let row of rowStars">
                <ion-col style="max-width: 25px;">
                    <ion-checkbox (ionChange)="validarFiltroEstrellas(row)"></ion-checkbox>
                 </ion-col>
                 <ion-col *ngFor="let col of createRange(row)" style="max-width: 30px;">
                      <img id="iconoLupa" src="assets/icon/filters/star.svg" >
                  </ion-col>
              </ion-row>
          </div>
        </ion-card-content>
      </ion-card>
</ion-card>